asttokens
colorama
comm
debugpy
decorator
dnspython==2.6.1
exceptiongroup
executing
imbalanced-learn==0.12.3
imblearn==0.0
importlib_metadata
ipykernel
ipython
jedi
joblib==1.4.2
jupyter_client
jupyter_core
lightgbm==4.5.0
matplotlib-inline
nest_asyncio
numpy==2.1.1
packaging
pandas==2.2.3
parso
pickleshare
platformdirs
prompt_toolkit
psutil
pure_eval
Pygments
pymongo==4.9.1
python-dateutil
python-dotenv==1.0.1
pytz==2024.2
pywin32==306
pyzmq
scikit-learn==1.5.2
scipy==1.14.1
six
stack-data
threadpoolctl==3.5.0
tornado
traitlets
typing_extensions
tzdata==2024.2
wcwidth
xgboost==2.1.1
zipp
cloudpickle==3.1.0